<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="header">
        <img src="main.webp" alt="Interd Logo">
        <div class="nav">
            <p>Home</p>
            <p>Services</p>
            <p>Work</p>
            <p>About</p>
            <p>Blog</p>
            <p>Contact</p>
        </div>
        <div class="contact-info">
            <i class="fa-solid fa-phone"></i>
            <span>+10 (87) 267 2467</span>
        </div>
    </div>

    <div class="main-content">
        <div class="text-content">
            <h1>Let's Make your<br>Interior Better</h1>
            <p>Even the all-powerful Pointing has no control about the blind texts<br> it is an almost unorthographic.
            </p>
            <a href="#" class="btn">Explore Our Services</a>
        </div>



        <div class="image-content">
            <img src="1.webp" alt="Interior Design">
        </div>
    </div>

    <div class="container">
        <h1>What We Do</h1>
        <p class="subtitle">Even the all-powerful Pointing has no control about the blind texts it is<br>an almost
            unorthographic.</p>
        <div class="content">
            <div class="card">
                <img src="2.webp" alt="Room Image">
                <h3>Starts the automated process.</h3>
                <p>The automated process starts as soon as your clothes go into the machine.</p>
            </div>
            <div class="card">
                <img src="3.webp" alt="Living Room Image">
                <h3>Starts the automated process.</h3>
                <p>The automated process starts as soon as your clothes go into the machine.</p>
            </div>
            <div class="card">
                <img src="4.webp" alt="Lights Image">
                <h3>Starts the automated process.</h3>
                <p>The automated process starts as soon as your clothes go into the machine.</p>
            </div>
        </div>
    </div>

    <div class="design">
        <div class="img">
            <img src="5.webp" alt="">
        </div>

        <div>
            <h2>We design with<br>aesthetic sense</h2>
            <p>Even the all-powerful Pointing has no control about the<br> blindtexts it is an almost unorthographic.
                Exercitation<br> photo booth stumptown tote bag Banksy, elit small<br> batch freegan sed. Craft beer
                elit seitan exercitation,<br> photo booth et 8-bit kale chips proident chillwave deep v<br> laborum.
                Aliquip veniam delectus, Marfa eiusmod<br> Pinterest in do umami readymade swag.</p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </div>

    <div class="robert">
        <img src="dot.webp">
        <p>"Even the all-powerful Pointing has no control about the blind texts it is an<br> almost un real orthographic
            eaque ipsa quae elit small batch freegan sed. Craft<br> beer elit seitan exercitation</p>

        <span>-Robert</span>
        <div class="change">
            <i class="fa-solid fa-ellipsis"></i>
        </div>
    </div>


</body>

</html>