<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Data</h1>

     <form action="/updateData" method="post">
        <input type="text" value="<%=singleData.id%>" hidden placeholder="Enter Your name" name="id">
        <input type="text" value="<%=singleData.name%>" placeholder="Enter Your name" name="name">
        <input type="text" value="<%=singleData.age%>" placeholder="Enter Your age" name="age">
        <button type="submit">Submit</button>
    </form>
</body>
</html>